/* custom  */
:root {
    --j-border : 5px;
    --px-sm :54px;
    --j-white : #fff;
    --j-color-primary : #26A826;
    --j-color-secondary : #EE00EE;
    --j-color-primary-dark : #2c4c2f;
    --j-color-dark : #1D271D;
    --j-whitesmoke : #ededed;
    --j-semiwhite : #F8F8F8;
    --j-lightgreen : #abc9ab;
    --j-lightgrey : #bdbdbd;
    --j-line : #e3e3e3;
    --color-primary: #222;
    --color-primary-rgb: 34, 34, 34;
    --color-link: #222;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-orange: #FA5D29;
    --color-errors: #FA5D29;
    --color-featured: #f8f0ee;
    --color-underlined: var(--color-primary-rgb);
    --color-connect: #FF602C;
    --color-connect-2: #FFAE94;
    --color-connect-3: #FFC5B1;
    --color-inspire: #AAEEC4;
    --color-inspire-2: #C8E4D3;
    --color-inspire-3: #E2F4E9;
    --color-awards: #502bd8;
    --color-awards-2: #6749d1;
    --color-awards-3: #917eda;
    --color-read: #c0ab3c;
    --color-read-2: #CDC38B;
    --color-read-3: #DBD6C0;
    --color-learn: #FFF083;
    --color-learn-2: #FFF9D0;
    --color-learn-3: #fffbe2;
    --color-jobs: #74bcff;
    --color-jobs-2: #99ccfc;
    --color-jobs-3: #b4d7f8;
    --text-size-small: 12px;
    --text-size-primary: 16px;
    --text-size-medium: 18px;
    --text-size-large: 24px;
    --border-gray: #e9e9e9;
    --bg-primary: #F8F8F8;
    --bg-primary-rgb: 248, 248, 248;
    --bg-secondary: #222;
    --bg-3rd: #e9e9e9;
    --bg-4rd: #f3f3f3;
    --bg-white: white;
    --header-height: 71px;
    --gutter: 20px;
    --pad-inner: 52px;
    --color-odd-rows: #f3f3f3;
    --avatar-bg: #F8F8F8;
    --rounded-small: 4px;
    --rounded-normal: 8px;
    --rounded-large: 1rem;
    --img-resizing-site: 16 / 12;
    --img-resizing-paronamic: 2 / 1;
    --img-resizing-desktop: 19 / 10;
}

*{
    /*font-family:'Montserrat';*/
    font-family:"Poppins", sans-serif !important;
    font-size: 14px;
}

a{
    color:var(--j-color-dark) ;
}
.absolute-sm{
    position: unset;
}
.bg-transparent{
    background-color: transparent !important;
}
.button-rounded-large{
    border: 1pt solid;
    border-radius: 72pt;
    padding: 5pt 10pt;
    transition: .2s;
    white-space: nowrap;
    position: relative;
    margin-right: 
}
.button-rounded-large:hover{
    background: var(--j-lightgreen);
    color: var(--j-color-dark) !important;
    border: none;
}
.d-block{
    display: block
}
.fs-sm{
    font-size: 16px;
}
.font-bold{
    font-weight: 800;
}
.hidden-md{
    display: contents;
}
.hidden-lg{
    display: contents;   
}

.row{
    --bs-gutter-x:0.5rem;
    --bs-gutter-y:0.5rem;
}
.grid-item {
    cursor: unset;
}
.inner{
    max-width: 1920px;
    margin: 0 auto;
}
.j-px-sm{
    padding: 0 var(--px-sm);
}
.j-mx{
    margin: auto 32px;
}


.j-bg-secondary{
    background-color: var(--j-color-secondary);
    padding: 60px 0 120px 0;
}
.j-primary{
    color: var(--j-color-primary);
}
.pad-inner{
    padding: 0 52px;
}

section{
    padding: 100px 0 !important;
}
.show-sm{
    display: none;
}
.hide{
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    transition: .3s;

}
.show{
    /*display: block;*/
    opacity: 1;
    visibility: visible;
}



.product .product-description{
    padding: 20px 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin: 0 auto;
    grid-auto-rows: 0fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}



/* navbar  */
header{
    width: 100%;
    position: absolute;
}

.header-search{
    position: relative;
    flex: 1;
    z-index: 3;
    transition: .2s;
}
.header-search .content-left .content-project a{
    font-size: 10px;
}
.header-search .content-left .usefull-links a,
.header-search .content-left .content-product a{
    font-weight: 200;
}
.header-search .content-right .product-title h3 a{
    color: var(--j-white);
    padding-top: 15px;
}
.navbar-expand-lg .navbar-nav{
    align-items: center;
}


#header a:not(.btn):not(.badge):hover, #header a:not(.btn):not(.badge):focus, #header a:not(.btn):not(.badge):active{
    color: var(--j-color-primary);
}

#header .header-search .branded img{
    max-width: 100px;
}
#header .carousel{
    visibility: hidden;
    opacity: 0;
}

#header .drop-content{
    display: flex;
    align-items: center;
    color: white;
    line-height: 20pt;
    min-height: 40px;
}
#header .dropdown-toggle:after{
    content:unset;
}
#header .dropdown-toggle{
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
    box-shadow: none;
    gap: 2.2rem;
    padding: 0px 20px;
    align-items: center;
    cursor: pointer;
}
#header .dropdown-content{
      position: absolute;
      background-color: var(--j-color-primary-dark);
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      right: 0;
      top: 25px;
      transition: .2s;
      padding: 14px 20px;
      margin-top: 1px;
      border-radius: 5px;
}

#header .dropdown-content a{
    color: var(--j-lightgreen);
    text-decoration: none;
    display: block;
    padding: 2px 8px;
}
#header .dropdown-content a:hover{
    color: var(--j-primary);
}


#header .ekstras{
    display: flex;
    line-height: 20pt;
    min-height: 40px;
    margin: 0;
    align-items: center;
    padding: 0 10px
}
#header .ekstras li{
    list-style: none;
    margin-right: 10px
}
#header .ekstras a{
    color: var(--j-color-primary-dark);
}

#header .header-fade{
    transition: opacity .15s linear;
}
#header .header-result{
        color: white;
        position: absolute;
        background: #2c4c2f;
        width: 100%;
        top: 0;
        z-index: -3;
        padding: 100px 20px 50px;;
        border-radius: var(--rounded-normal);
        opacity: 0;
        transition: all .2s;
        visibility: hidden;
    }
#header .header-result-show{
        visibility: visible;
        opacity: 1;
    }
#header .header-result-content{
    display: flex;
    gap:0.5rem;
}
#header .header-project {
    line-height: 1rem;
}
#header .header-content-right{
    flex: 1;
}
#header .header-content-right .polo-carousel-item img{
    width: auto;
}

#header .header-result p{
    color: var(--j-lightgreen);
}

#header .header-search{
    display: flex;
    align-items: center;
}

#header .header-content-right figure{
    width: 100%;
    height: 35vh;
}

#header .header-content-right .product-description{
    padding: 0;
}

#header .header-content-right .carousel-item{
    width: 350px;
}

#header .header-content-right img{
    object-fit: cover;
    max-width: 100%;
}

#header .header-content-left .header-tags .list-project{
    gap:12px;
}





#header .input-group{
    width: auto;
    flex: 1;
}




#header .list-project{
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
#header .list-project figure{
    width: 100%; 
    height: 14vh;
    padding-right: 10px;
}
#header .list-project img{
    height: 100%;
    object-fit: cover;
}

#header .list-project a p:hover{
    color: var(--j-lightgreen);
}


#header .p-dropdown span{
    color: var(--j-white);
}
#header .p-dropdown a:hover{
    /*color: inherit;*/
}

#header .p-dropdown .p-dropdown-content, .p-dropdown ul.p-dropdown-content{
    border: none;
    background: var(--j-color-primary-dark);
}
#header .p-dropdown .p-dropdown-content ul > li a, .p-dropdown .p-dropdown-content > li a, .p-dropdown ul.p-dropdown-content ul > li a, .p-dropdown ul.p-dropdown-content > li a{
    color: var(--j-lightgreen);
    font-size: 14px;
}


#header .search-form{
    width: 100%;
}

#header .search-form-field{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 48px;
        background: var(--j-color-primary);
        border-radius: var(--rounded-normal);
        font-size: 14px;
    }
#header .search-form-button{
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-left: 20px;
        color:var(--j-color-secondary);   
    }
#header .search-form-button svg{
        width: 20px;
        height: 20px;
    }
#header .search-form-input{
        position: relative;
        flex: 1;
        height: 100%;
        background: transparent;
        border: none;
        padding-left: 10px;
        font-size: var(--text-header);
        color:var(--j-color-secondary);
    }
#header .search-form-input::-webkit-input-placeholder, .search-form-input::-webkit-input-value{
        color:var(--j-color-secondary);
    }



/* welcome  */
#welcome .information .text-moves h4{
    font-weight: 200;
}
#welcome .information .display-3{
    margin: -10px 0;
}
#welcome .marquee{
    white-space: nowrap;
    display: flex;
    overflow: hidden;
}
#welcome .marquee div{
    padding-right: 1rem;
    animation: animasi 10s linear infinite;
    display: inline-block;
    padding-left: 100%;
    font-weight: lighter;
    font-size: 40px;
    color: var(--j-dark);
    display:flex;
    gap:1rem;
}

@keyframes animasi{
    100%{
        /*transform:translate(-100%, 0);*/
        transform: translate(-100%, 0%) translate3d(0px, 0px, 0px);
        /*transform:translate3d(0px, 0px, 0px);*/
    }
}
/* end welcome  */




/* banner */
.green-banner p{
    margin: 0;
    padding: 0 20px;
}
.green-banner .btn{
    background-color: transparent !important;
    border: 1px solid #fff !important;
    border-radius: none !important;
    transition: 3s;
}
.green-banner .btn:hover{
    background-color: var(--j-color-primary);
    color: #fff;
    border: none;
}

.yellow-banner p{
    margin: 0;
    padding: 0 20px;
}
.yellow-banner .btn{
    background-color: transparent !important;
    border: 1px solid #1e2022 !important;
    border-radius: none !important;
    transition: 3s;
}
.yellow-banner .btn:hover{
    background-color: yellow;
    color: #1e2022;
    border: none;
}
.yellow-banner h1{
    color: unset !important;
}
/* end banner  */





/* joe competitive  */
.card-horizontal .text-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-flex p{
    margin:0;
    padding:0;
}
.competitive .logo{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.competitive .logo img{
    width: 100%;
    height: 0%;
}

.competitive .logo p{
    width: 25%;
    height: 0%;
    display: flex;
    align-items: center;
}

.competitive .card-horizontal{
    border-radius: 0px;
    box-shadow: none;
    border:none;
    padding: 20px !important;
    transition: 0.5s;
    border-bottom: 1pt solid var(--j-line);
}
.competitive .card-horizontal:hover{
    background-color: var(--j-whitesmoke);
}
.competitive .img-fluid{
    max-width: 120%;
}

.competitive .image{
    min-height: 100%;
    overflow: hidden;
    border-radius: var(--j-border);
}

.pad-left-sm{
    padding-left:1rem;
}
/* end joe competitive  */





/* market */
.market .card{
    margin-bottom: 0;
}
.market .gap{
    margin: 0;
    padding: 5px;
}
/* end market  */



/* joe product */
.advantages .card{
    border-radius: 5px;
}
.advantages .post-image{
    padding: 20px;
    background: var(--j-color-dark);

}
.advantages .post-item-description {
    padding: 24px 0 !important;
}
.advantages .post-item-description h2{
    color: var(--j-white);
}
.advantages{
    padding: 0 10px 0 10px;
}
.advantages .card{
    background-color: var(--j-color-dark);
}
.advantages h4, .advantages p{
    color: var(--avatar-bg);
}
.advantages .card-content{
    padding: 20px 0;
}

.card-home .card-body, .card-home .card{
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
    /* border: 1px solid #e4e6ef; */
}

.card-home .card-content{
    padding: 20px;
    background-color: var(--j-semiwhite);
}

.competitive .grid, .competitive .card{
    margin: 0;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
}
.products .card .full-width{
    width: 75%;
    margin: auto;
}
.products .background-card{
    background: var(--j-lightgrey);
    height: 40vh;
    overflow: hidden;
    display: flex;
}
.products .card{
    border: none;
    box-shadow: none;
    padding: 0 10px 0 10px;
}
.products .grid{
    grid-column-gap: 28px;
}
/* end joe product  */






/* project  */
.project .carousel .polo-carousel-item img{
    width: 120%;
    /* position: absolute; */
}

.project .product .product-image{
    min-height: 45vh;
    background-color: var(--j-semiwhite);
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.project .product .grid-images img{
    width: auto;
    position: absolute;
    top: 0;
    transform: translate(-25px, 0);
}
.project .product{
    padding: 0 10px 0 10px;
}
/* end project  */






/* footer */
.background-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("/logo2/Rectangle.png");
    z-index: -1;
    background-repeat: round;
}
.copyright-contents ul{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    padding-left: 0;
}
.copyright-contents .social-media ul{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.copyright-contents .social-media i{
    font-size: 24px;
}
.copyright-contents{
    padding-bottom: 70px;
}
.footer{
    position: relative;
    z-index: 0;
}
.footer .navbar-brand img{
    height: 80px;
}
/* end footer  */







/* slider  */
.inspiro-slider{
    border-radius: 5px;
}
/* end slider  */


.line-custom{
    clear: both;
    position: relative;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #e3e3e3;
}

.project .product-image{
    position: absolutes;
}



/* MEDIA SCREEN  */
/* END HOME  */

.project-page .product .product-image img{
    width: 160%;
    transform: translate(-60px, 0px);
}

/*ABOUT */
.blockquote p{
    font-size: 1.2rem;
    font-style: italic;
}
.font-italic{
    font-style: italic !important;
}
.bg-grey{
    background: grey;
}

/* PRODUCT PAGE  */
.products-page .product .product-image{
    background-color: var(--j-lightgrey);
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.products-page .product .product-image img{
    width: 70%;
    margin: auto;
}
.products-page .product .product-image img {
    height: auto;
}
.products-page .product .product-category{
    opacity: 1;
}
.products-page .product .product-category a:hover{
    /* opacity: 1; */
}
/* END PRODUCT PAGE  */




/* PROJECT PAGE */
.projects-page .product .product-image{
    background-color: var(--j-lightgrey);
    display: flex;
    height: 35vh;
    align-items: center;
}
.projects-page .product .grid-images{
    background-color: black;
}
.projects-page .product .product-title{
    max-width: 100%;
}
.projects-page .product .product-description{
    overflow: hidden;
    min-height: 100px;
}
/* END PROJECT PAGE  */

@media only screen and (max-width: 2560px){
    #header .list-project figure{
        height: 10vh;
    }
    #header .polo-carousel-item .brand figure{
        height: 30vh;
    }
}

@media only screen and (max-width: 1440px){
    #header .list-project figure{
        height: 10.5vh;

    }
    #header .polo-carousel-item .brand figure{
        height: 25vh;
    }
}

@media only screen and (max-width: 1400px){
    #header .header-result-content{
        /*display: block;*/
    }
    #header .header-content-right{
        /*display: none;*/
    }
}

@media only screen and (max-width: 1170px){
    #header .header-content-right{
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .competitive .col-lg-6{
        width: 100%;
    }
    #header .list-project figure{
        height: 16vh;
    }
    .hidden-lg{
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    #header[data-fullwidth="true"] .header-inner .container, .pad-inner{
        padding: 0 15px;
    }

}
@media only screen and (max-width: 1400px){
#header .header-result-content {
    /* display: block; */
}
#header .header-result-content {
        padding: 0 10px;
    }
    .competitive .grid, .products .grid{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .competitive .col-lg-6{
        width: 50%;
    }
    .competitive .card-horizontal{
        padding: 0 !important;
    }
    .footer .copyright-contents .agreement ul{
        display: block;
    }
    .footer .social-media ul{
        justify-content: flex-start;
    }
    .information .short-text{
        width: auto !important;
    }
    .hidden-md{
        display: none;
    }
}
@media only screen and (max-width: 570px){
    #header .search-form{

    }
    #header .hidden-sm{
        display: none;
    }
    #header .header-result{
        padding: 70px 20px 30px;
    }
    #header .show-sm{
        display: block;
    }
    .products .grid{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .absolute-sm{
        position: absolute;
    }

}

@media only screen and (max-width: 425px){
    /*header*/
    #header .header-search .brand img{
        max-width: 75px;
    }
    .competitive .col-lg-6{
        width: 100%;
    }
    .footer .footer-logos{
        display: none;
    }
    .market .col-sm-6{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .market h5{
        font-size: 10px;
    }
    .green-banner .col .p-100, .yellow-banner .col .p-100{
        padding: 50px 25px !important;
        text-align: center;
    }
    .green-banner .col .p-100 h1, .yellow-banner .col .p-100 h1{
        font-size: 1.9rem;
    }
    .green-banner .col .p-100 a, .yellow-banner .col .p-100 a{
        height: unset !important;
    }

}
